---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        We have some fans.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Emily Rodriguez</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Trader</p>
          </div>
        </div>
        <p class="mt-8">Working with CodConnect has transformed our logistics experience. Their dedicated team of professionals ensures seamless operations, from efficient COD handling to top-notch 3PL services. The commitment to excellence is evident in every step, providing a reliable and trustworthy partnership. CodConnect has not only met but exceeded our expectations, enhancing our business efficiency and customer satisfaction.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Maya Odigidou</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Marketing</p>
          </div>
        </div>
        <p class="mt-8">CodConnect's service exceeded expectations. Timely deliveries, efficient operations, and a dedicated team ensured our logistics success. Highly recommend for their commitment to excellence and customer satisfaction.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-5.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Khaled Yanik</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Sales</p>
          </div>
        </div>
        <p class="mt-8">CodConnect transformed our logistics experience. Their meticulous approach and dedicated team ensured seamless operations. From timely deliveries to unparalleled service, they exceeded our expectations. A trustworthy partner committed to excellence.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Basma Hayek</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Student</p>
          </div>
        </div>
        <p class="mt-8"> CodConnect's exceptional service surpassed our expectations. Meticulous attention to detail and a dedicated team ensured flawless logistics. Timely deliveries, unmatched reliability—CodConnect is the epitome of excellence in the industry. Highly recommended for seamless operations.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Andy Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Manager</p>
          </div>
        </div>
        <p class="mt-8"> CodConnect's impeccable service revolutionized our logistics. With meticulous planning and a dedicated team, they ensured swift deliveries and unwavering reliability. CodConnect is our go-to for seamless operations, setting the standard for excellence.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Nathan Williams</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Seller</p>
          </div>
        </div>
        <p class="mt-8">CodConnect's commitment to excellence is unmatched. Their meticulous approach ensures seamless logistics. With a dedicated team and reliable service, CodConnect has elevated our operations, exceeding expectations every time.</p>
      </div>

    </div>
  </Container>
</div>